@import "src/assets/variables.scss";

.cities-weather {
  &__items {
    padding-top: $spacing-S;
    margin: 0 auto;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: $spacing-XXS;
  }
}
