// -------------------------------------------------------------------------------------------
// COLORS
// -------------------------------------------------------------------------------------------

$color-primary: #fcd404;
$color-secondary: rgba(0, 0, 0, 0.2);
$color-tertiary: white;
$color-quaternary: #3b3c3b;
$color-quinary: #65b7c6;
$color-error: #ef5350;

// -------------------------------------------------------------------------------------------
// FONTS
// -------------------------------------------------------------------------------------------

$font-size-XXXXXS: 4px;
$font-size-XXXXS: 8px;
$font-size-XXXS: 10px;
$font-size-XXS: 12px;
$font-size-XS: 14px;
$font-size-S: 16px;
$font-size-M: 18px;
$font-size-L: 20px;
$font-size-XL: 24px;
$font-size-XXL: 28px;
$font-size-XXXL: 32px;
$font-size-XXXXL: 40px;

// -------------------------------------------------------------------------------------------
// SPACINGS
// -------------------------------------------------------------------------------------------

$spacing-XXXS: 4px;
$spacing-XXS: 8px;
$spacing-XS: 16px;
$spacing-S: 20px;
$spacing-M: 24px;
$spacing-L: 32px;
$spacing-XL: 36px;
$spacing-XXL: 40px;
$spacing-XXXL: 60px;
$spacing-XXXXL: 80px;
